body{
	margin:0;
	padding:0;
	background-image:url(../img/sun-in-blue-sky-with-cloud-and-tree.jpg);
	@include background();
}
nav{
	background-color: transparent;
}
section#back-uno{
	background-color:black;
	opacity:0.5;
	color:#fff;
	font-family:$roboto;
}
#current{
	font-size:30px;
}
#temp-act{
	font-size:15px;
}
#semanal{
	margin-top:10px;
}